<div class="fade hide">
    <div class="profile-actions-container flex justify-between">
        <a href="/" class="profile-photo-container">
            <img src="/images/profile.png" alt="Profile photo" class="profile-photo" />
        </a>
        <div class="controls">
            <a href="/" title="Esconder saldo" class="control-icon"><img src="/images/outlined_actions_visibility_off.svg" /></a>
            <a href="/" title="Central de ajuda" class="control-icon"><img src="/images/outlined_actions_help.svg" /></a>
            <a href="/" title="Central de proteção Ultravioleta" class="last"><img src="/images/outlined_actions_shield_check.svg" /></a>
        </div>
    </div>
    <div class="greeting">
        Olá, Julivan
    </div>
</div>