<html>
    <head>
        <title>Flickering test</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <div class="main-container open-sans-nu">
            <header class="header">
                <div class="profile-actions-container flex justify-between">
                    <a href="/" class="profile-photo-container">
                        <img src="/images/profile.png" alt="Profile photo" class="profile-photo" />
                    </a>
                    <div class="controls">
                        <a href="/" title="Esconder saldo" class="control-icon"><img src="/images/outlined_actions_visibility_off.svg" /></a>
                        <a href="/" title="Central de ajuda" class="control-icon"><img src="/images/outlined_actions_help.svg" /></a>
                        <a href="/" title="Central de proteção Ultravioleta" class="last"><img src="/images/outlined_actions_shield_check.svg" /></a>
                    </div>
                </div>
                <div class="greeting">
                    Olá, Julivan
                </div>
            </header>
            <main class="section-container">
                <section id="account-balance" class="base-container account flex justify-between ml-15">
                    <!-- <div class="skeleton card-skeleton">
                        <div class="line first"></div>
                        <div class="line second"></div>
                    </div> -->
                    
                    <!-- <div class="balance-container">
                        <p class="section-title">Conta</p>
                        <p class="balance-value">R$ 1.000,00</p>
                    </div> -->
                    <!-- <div class="next"><img src="/images/outlined_navigation_chevron.svg" /></div> -->
                </section>
                <section id="inline-actions" class="base-container inline-actions flex">
                    <div class="skeleton-container flex">
                        <div class="skeleton action-skeleton">
                            <div class="line circular first"></div>
                            <div class="line second"></div>
                        </div>
                        <div class="skeleton action-skeleton">
                            <div class="line circular first"></div>
                            <div class="line second"></div>
                        </div>
                        <div class="skeleton action-skeleton">
                            <div class="line circular first"></div>
                            <div class="line second"></div>
                        </div>
                        <div class="skeleton action-skeleton">
                            <div class="line circular first"></div>
                            <div class="line second"></div>
                        </div>
                    </div>
                    <!-- <a href="#" class="inline-action">
                        <div class="icon">
                            <img src="/images/outlined_financial_pix.svg" class="icon-image" />
                        </div>
                        Área Pix
                    </a>
                    <a href="#" class="inline-action">
                        <div class="icon">
                            <img src="/images/outlined_financial_money_out.svg" class="icon-image" />
                        </div>
                        Pix com Manu
                    </a>
                    <a href="#" class="inline-action">
                        <div class="icon">
                            <img src="/images/outlined_financial_bar_code.svg" class="icon-image" />
                        </div>
                        Pagar
                    </a>
                    <a href="#" class="inline-action">
                        <div class="icon">
                            <img src="/images/outlined_financial_yield.svg" class="icon-image" />
                        </div>
                        Investir
                    </a> -->
                </section>
                <section class="base-container card-actions">
                    <div class="banner flex">
                        <img src="/images/outlined_financial_card.svg" class="card-action-icon" />
                        <p class="card-action-text">Beneficios Ultravioleta</p>
                    </div>
                    <div class="banner flex">
                        <img src="/images/outlined_financial_nu_logo.svg" class="card-action-icon" />
                        <p class="card-action-text">Meus cartões</p>
                    </div>
                </section>
                <section class="base-container base-container-separator disclaimer-banners">
                    <div class="skeleton banner-skeleton">
                        <div class="line first"></div>
                    </div>
                    <!-- <div class="banner-overflow flex">
                        <div class="banner banner-carousel font-light">
                            <p class="banner-text"><span class="highlight-text">Pix no crédito:</span> à vista ou parcelado sem usar o saldo da conta</p>
                        </div>
                        <div class="banner last banner-carousel font-light">
                            <p class="banner-text"><span class="highlight-text">Shopping do Nu:</span> vem aí Amazon Prime Day de 16 a 21 de julho</p>
                        </div>
                    </div> -->
                </section>
                <section class="base-container base-container-separator credit-card">
                    <section class="flex justify-between">
                        <div class="balance-container ml-15">
                            <div class="skeleton card-skeleton balance">
                                <div class="line first"></div>
                                <div class="line second"></div>
                                <div class="line third"></div>
                                <div class="line fourth"></div>
                            </div>
                            <!-- <p class="section-title">Cartão de crédito</p>
                            <p class="balance-description">Fatura atual</p>
                            <p class="balance-value">R$ 1.000,00</p>
                            <p class="balance-limit font-light">Limite disponível de R$ 1000</p> -->
                        </div>
                        <div class="next"><img src="/images/outlined_navigation_chevron.svg" /></div>
                    </section>
                </section>
                <section class="base-container credit-card">
                    <section class="flex justify-between">
                        <div class="balance-container ml-15">
                            <div class="skeleton card-skeleton balance">
                                <div class="line first"></div>
                                <div class="line second"></div>
                                <div class="line third"></div>
                            </div>

                            <!-- <p class="section-title">Empréstimo</p>
                            <p class="balance-description">Valor disponível de até</p>
                            <p class="balance-value">R$ 1.000,00</p> -->
                        </div>
                        <div class="next"><img src="/images/outlined_navigation_chevron.svg" /></div>
                    </section>
                </section>
            </main>
        </div>
    </body>
    <script src="/javascripts/client.js"></script>
</html>